<div class="form-group feature feature-regexReplace replace-regex-block replace-regex">
   <label for="selector" class="col-lg-1 control-label">Replace</label>
   <div class="col-lg-10">
      <div class="row">
         <div class="col-md-6">
            <div class="input-group">
               <span class="input-group-addon">/</span>
               <input type="text" class="form-control regex-input" placeholder="regex" aria-label="regex">
               <span class="input-group-addon">/</span>
            </div>
         </div>
         <div class="col-sm-2">
            <input class="form-control regex-options" placeholder="options" type="text">
         </div>
         <div class="col-sm-4">
            <div class="input-group">
               <input class="form-control regex-replacement" placeholder="replacement" type="text">
               <span class="input-group-btn">
               <button class="btn btn-default remove-replace-regex" type="button">-</button>
               <button class="btn btn-default add-replace-regex" type="button">+</button>
               </span>
            </div>
         </div>
      </div>
   </div>
</div>